ul, li {
    list-style-type: none;
    margin-top: 5px;
}

.clickable {
    cursor: pointer;
}

.deleteButton {
    color: white;
    font-weight: bold;
    background-color: red;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
}
